.module-cache
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
*.idea
*.iml
.vscode
*.swp
*.swo
.DS_Store
*.tgz
*.tar
*.zip
*.idea/*

dist
build
test-results
node_modules
package-lock.json

# Гененерируемые файлы .d.ts для css
*.css.d.ts
src/**/*.css.js*
src/**/*.css.map*
src/**/.module.css

.scannerwork
1.bat
sonar-scanner.properties
